body
{
	margin:0;
	padding:0;
}

.square
{
	border: solid 1px #4d4d4d; background-color: #FFFFFF;
}




@-webkit-keyframes flicker {
    0% {opacity: 0}
    10% {opacity: 1}
    20% {opacity: 0}
    30% {opacity: 1}
    40% {opacity: 0}
    50% {opacity: 1}
    60% {opacity: 0}
    70% {opacity: 1}
    80% {opacity: 0}
    90% {opacity: 1}
    100% {opacity: 1}
    
} 

.rotatingtile 
{
    -webkit-animation-name: rotatetile;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;       
}

.fadingIn
{
	opacity:1;
}

.fadingOut
{
	opacity: 0;
}

.transit {
 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.menuHidden
{
	top:0px;
	left:-200px;
}

.menuShown
{
	top:0px;
	left:0px;

}